.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-label {
    display: block; /* Ensure the label takes up the full width */
    margin-bottom: 5px; /* Add some space between the label and the input */
}

.input-style-class {
    display: block; /* Ensure the input takes up the full width */
    width: 100%; /* Make the input expand to fill its container */
    margin-bottom: 15px; /* Add some space after the input before the next element */
}